@using DapperProject.Dtos.ProductDtos
@model List<ResultProductDto>
@{
    Layout = null;
}

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Ürün Fiyatı</th>
            <th>Ürün Stok</th>
            <th>Ürün Kategori</th>
            <th>Ürün Sil</th>
            <th>Ürün Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductPrice</td>
                <td>@item.ProductStock</td>
                <td>@item.CategoryId</td>

                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-danger">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Product/CreateProduct/" class="btn btn-danger">Yeni Kategori</a>
</div>